[Desktop Entry]
Version=1.0
Type=Application
Name=PGadmin
Comment=PostgresQL Admin
Icon=pgadmin3
Exec=pgadmin3
Path=
Terminal=false
StartupNotify=false
Categories=Utility
