[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Aqualung
Comment=Aqualung audio player
Categories=Application;Audio
Exec=aqualung
Icon=aqualung
Terminal=false
StartupNotify=false
