
[Desktop Entry]
Version=1.0
Type=Application
Exec=xterm
Icon=xterm-color_48x48
StartupNotify=false
Terminal=false
Categories=Utility
Name=Xterm Terminal Emulator
Name[ar]=Xterm محاكي الطرفية
Name[ast]=Xterm Emulador de terminal
Name[be]=Xterm Эмулятар тэрмінала
Name[bn]=Xterm টার্মিনাল ইম্যুলেটর
Name[ca]=Xterm Emulador de terminal
Name[cs]=Xterm Emulátor terminálu
Name[cy]=Xterm Efelychydd Terfynell
Name[da]=Xterm Terminal-emulering
Name[de]=Xterm Terminal
Name[dz]=Xterm ཊལ་མི་ནཱལ་ནུས་འཕྲུལ།
Name[el]=Xterm Εξομοιωτής τερματικού
Name[en_GB]=Xterm Terminal Emulator
Name[es]=Xterm Emulador de terminal
Name[et]=Xterm Terminaliemulaator
Name[eu]=Xterm Terminal emuladorea
Name[fi]=Xterm Pääteohjelma
Name[fr]=Xterm Émulateur de Terminal
Name[gl]=Xterm Emulador de terminal
Name[he]=Xterm מסוף
Name[hr]=Xterm Emulator terminala
Name[hu]=Xterm Terminálemulátor
Name[id]=Xterm Emulator Terminal
Name[it]=Xterm Emulatore di terminale
Name[ja]=Xterm ターミナルエミュレータ
Name[kk]=Xterm Терминал эмуляторы
Name[ku]=Xterm Emûlatorê Termînalê
Name[lv]=Xterm Termināla emulators
Name[mk]=Xterm Емулатор на терминал
Name[nb]=Xterm Terminalemulator
Name[nl]=Xterm Terminalvenster
Name[pa]=Xterm ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Name[pl]=Xterm Emulator terminala
Name[pt]=Xterm Emulador de terminal
Name[pt_BR]=Xterm Emulador de terminal
Name[ro]=Xterm Emulator de terminal
Name[ru]=Xterm Эмулятор терминала
Name[sk]=Xterm Emulátor terminálu
Name[sl]=Xterm Terminalski emulator
Name[sq]=Xterm Emulues Terminali
Name[sv]=Xterm Terminalemulator
Name[tl_PH]=Xterm Terminal Emulator
Name[tr]=Xterm Uçbirim Öykünücüsü
Name[ug]=Xterm تېرمىنال تەقلىدلىگۈ
Name[uk]=Xterm Емулятор терміналу
Name[ur]=Xterm ٹرمنل ایمولیٹر
Name[ur_PK]=Xterm ٹرمنل ایمولیٹر
Name[zh_CN]=Xterm 终端模拟器
Name[zh_TW]=Xterm 終端機模擬程式
Comment=Use the command line
Comment[ar]=إستعمل سطر الأوامر
Comment[bn]=কমান্ড লাইন ব্যবহার করুন
Comment[ca]=Empra la línia d'ordres
Comment[cs]=Použít příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρησιμοποιείστε την γραμμή εντολών
Comment[en_GB]=Use the command line
Comment[es]=Usar la línea de comandos
Comment[eu]=Erabili komando lerroa
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=שימוש בשורת הפקודה
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan baris perintah
Comment[is]=Nota skipanalínuna
Comment[it]=Usa la linea di comando
Comment[ja]=コマンドラインを使用します
Comment[kk]=Командалық жолды қолдану
Comment[nb]=Bruk kommandlinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[pa]=ਕਮਾਂਡ ਲਾਈਨ ਵਰਤੋਂ
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Usar a linha de comando
Comment[ro]=Utilizați linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sv]=Använd kommandoraden
Comment[tr]=Komut satırını kullan
Comment[ug]=بۇيرۇق قۇرىنى ئىشلىتىدۇ
Comment[uk]=Використовуєте командну стрічку
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用指令列
Path=
