
[Desktop Entry]
Version=1.0
Type=Application
Exec=urxvt
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Categories=Utility
Name=URxvt Terminal Emulator
Name[ar]=URxvt محاكي الطرفية
Name[ast]=URxvt Emulador de terminal
Name[be]=URxvt Эмулятар тэрмінала
Name[bn]=URxvt টার্মিনাল ইম্যুলেটর
Name[ca]=URxvt Emulador de terminal
Name[cs]=URxvt Emulátor terminálu
Name[cy]=URxvt Efelychydd Terfynell
Name[da]=URxvt Terminal-emulering
Name[de]=URxvt Terminal
Name[dz]=URxvt ཊལ་མི་ནཱལ་ནུས་འཕྲུལ།
Name[el]=URxvt Εξομοιωτής τερματικού
Name[en_GB]=URxvt Terminal Emulator
Name[es]=URxvt Emulador de terminal
Name[et]=URxvt Terminaliemulaator
Name[eu]=URxvt Terminal emuladorea
Name[fi]=URxvt Pääteohjelma
Name[fr]=URxvt Émulateur de Terminal
Name[gl]=URxvt Emulador de terminal
Name[he]=URxvt מסוף
Name[hr]=URxvt Emulator terminala
Name[hu]=URxvt Terminálemulátor
Name[id]=URxvt Emulator Terminal
Name[it]=URxvt Emulatore di terminale
Name[ja]=URxvt ターミナルエミュレータ
Name[kk]=URxvt Терминал эмуляторы
Name[ku]=URxvt Emûlatorê Termînalê
Name[lv]=URxvt Termināla emulators
Name[mk]=URxvt Емулатор на терминал
Name[nb]=URxvt Terminalemulator
Name[nl]=URxvt Terminalvenster
Name[pa]=URxvt ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Name[pl]=URxvt Emulator terminala
Name[pt]=URxvt Emulador de terminal
Name[pt_BR]=URxvt Emulador de terminal
Name[ro]=URxvt Emulator de terminal
Name[ru]=URxvt Эмулятор терминала
Name[sk]=URxvt Emulátor terminálu
Name[sl]=URxvt Terminalski emulator
Name[sq]=URxvt Emulues Terminali
Name[sv]=URxvt Terminalemulator
Name[tl_PH]=URxvt Terminal Emulator
Name[tr]=URxvt Uçbirim Öykünücüsü
Name[ug]=URxvt تېرمىنال تەقلىدلىگۈ
Name[uk]=URxvt Емулятор терміналу
Name[ur]=URxvt ٹرمنل ایمولیٹر
Name[ur_PK]=URxvt ٹرمنل ایمولیٹر
Name[zh_CN]=URxvt 终端模拟器
Name[zh_TW]=URxvt 終端機模擬程式
Comment=Use the command line
Comment[ar]=إستعمل سطر الأوامر
Comment[bn]=কমান্ড লাইন ব্যবহার করুন
Comment[ca]=Empra la línia d'ordres
Comment[cs]=Použít příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρησιμοποιείστε την γραμμή εντολών
Comment[en_GB]=Use the command line
Comment[es]=Usar la línea de comandos
Comment[eu]=Erabili komando lerroa
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=שימוש בשורת הפקודה
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan baris perintah
Comment[is]=Nota skipanalínuna
Comment[it]=Usa la linea di comando
Comment[ja]=コマンドラインを使用します
Comment[kk]=Командалық жолды қолдану
Comment[nb]=Bruk kommandlinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[pa]=ਕਮਾਂਡ ਲਾਈਨ ਵਰਤੋਂ
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Usar a linha de comando
Comment[ro]=Utilizați linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sv]=Använd kommandoraden
Comment[tr]=Komut satırını kullan
Comment[ug]=بۇيرۇق قۇرىنى ئىشلىتىدۇ
Comment[uk]=Використовуєте командну стрічку
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用指令列
Path=
