--- ./application/configs/application.ini.dist.orig	2016-04-11 19:28:04.000000000 +0200
+++ ./application/configs/application.ini.dist	2016-07-19 15:37:04.955888000 +0200
@@ -123,8 +123,7 @@
 ;
 ;     %d      -> domain part of email address
 ;     %u      -> user part of email address
-;     %m      -> full email address
-;     %atmail -> substitutes an email address (test@example.com) with t/e/test@example.com
+;     $m -> full email address
 ;
 ;
 ; http://wiki2.dovecot.org/VirtualUsers/Home
@@ -139,27 +138,15 @@
 ;
 ;   "plain"       - password stored as clear text
 ;   "md5"         - password hashed using MD5 without salt (PHP md5())
-;   "md5-salted"  - password hashed using MD5 with salt (salt set in defaults.mailbox.password_salt above)
+;   "md5.salted"  - password hashed using MD5 with salt (see below)
 ;   "sha1"        - password hashed using sha1 without salt
-;   "sha1-salted" - password hashed using sha1 with salt (salt set in defaults.mailbox.password_salt above)
+;   "sha1.salted" - password hashed using sha1 with salt defined below 
 ;   "crypt:XXX"   - call the PHP crypt function (with random salt) where XXX is one of: md5, blowfish, sha256, sha512
 ;   "dovecot:XXX" - call the Dovecot password generator (see next option below) and use the
 ;                      scheme specified by XXX. To see available schemes, use 'dovecotpw -l'
 ;                      or 'doveadm pw -l'
 
-; You should pick a hashing function as strong as your mail system allows.
-; At time of writing, Dovecot ( http://wiki2.dovecot.org/Authentication/PasswordSchemes ) recommends one of
-; BLF-CRYPT, SHA512-CRYPT, SHA256-CRYPT in descending order of strength
-defaults.mailbox.password_scheme = "dovecot:BLF-CRYPT"
-
-; April 2016 - Bad salts - it was pointed out that a typo in the code below meant that
-; the now deprecated md5.salted and sha1.salted (as opposed to their hyphenated versions above)
-; didn't actually use the requested salt string but a fixed salt of "md5.salted" and "sha1.salted"
-; respectively. These options still work for backwards compatibility.
-; See:
-; https://github.com/opensolutions/OSS-Framework/issues/43#issuecomment-207040421
-; https://github.com/opensolutions/OSS-Framework/commit/b3d669a81f8214032a70e594472ece9fe9322fe2
-
+defaults.mailbox.password_scheme = "md5.salted"
 
 ; The path to (and initial option(s) if necessary) the Dovecot password generator. Typical
 ; values may be something like:
@@ -300,20 +287,14 @@
 ;; See: http://framework.zend.com/manual/en/zend.mail.smtp-authentication.html
 ;;
 ;; Ensure you have a working mail server configuration so the system can
-;; send emails.
-;; Possible values:
-;; transport.type: sendmail, smtp
-;; transport.auth: crammd5, login, plain
-;; transport.ssl: ssl, tls
+;; send emails:
 ;;
-
-resources.mail.transport.type = "smtp"
-resources.mail.transport.host = "localhost"
-;resources.mail.transport.username = ""
-;resources.mail.transport.password = ""
-;resources.mail.transport.auth = ""
-;resources.mail.transport.ssl = ""
-;resources.mail.transport.port = "25"
+resources.mailer.smtphost = "localhost"
+;resources.mailer.username = ""
+;resources.mailer.password = ""
+;resources.mailer.auth     = ""
+;resources.mailer.ssl      = ""
+;resources.mailer.port     = "25"
 
 
 
@@ -425,8 +406,16 @@
 ;
 
 vimbadmin_plugins.AccessPermissions.disabled = false
+vimbadmin_plugins.Jabber.disabled            = true
 vimbadmin_plugins.DirectoryEntry.disabled    = true
+vimbadmin_plugins.SharedMailbox.disabled     = true
+vimbadmin_plugins.SOGo.disabled              = true
+
+
 vimbadmin_plugins.AdditionalInfo.disabled = true
+vimbadmin_plugins.Addressbook.disabled    = true
+vimbadmin_plugins.Calendar.disabled       = true
+vimbadmin_plugins.RoundCube.disabled      = true
 
 
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
