[Desktop Entry]
Version=1.0
Name=PuTTY
Comment=PuTTY
GenericName=PuTTY
Terminal=false
Type=Application
Categories=Qt;Network;System
StartupNotify=false
Exec=putty
Icon=putty


